not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.not-found-img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}
.not-found-heading{
    font-size: 24px;
    color: #333333;
    font-family:'Allure Script', cursive;
}