.job-details-container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.render-items {
    display: flex;
    flex-direction: column;
}

.loader-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    background: transparent;
    width: 500px;
    color: white;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    margin-left: 20px;
    padding: 10px;
}

.search {
    background-color: transparent;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    flex-grow: 1;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 16px;
    width: 450px;
}

.input {
    color: antiquewhite;
}

.jobs-list-items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.no-jobs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.no-jobs {
    width: 400px;
}

.failure-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.failure-img {
    width: 300px;
    height: 300px;
}

.failure-title {
    color: violet;
    font-family: lobster;
    font-size: 30px;
}

.retry-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.retry {
    background-color: blue;
    height: 30px;
    width: 120px;
    border-radius: 8px;
    border-width: 0px;
    color: white;
    font-family: lobster;
}

.reponsive-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
}
