.nav-header {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    background-color: #1f2937;
    height: 60px;
}

.nav-header-logo {
    height: 40px;
}

.nav-header-menu {
    display: flex;
    gap: 24px;
    align-items: center;
    list-style: none;
    margin: 0 auto;
}
.nav-header-menu-item {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.nav-header-menu-item.active{
        color: #4f46e5;
        font-size: 25px;
        font-weight: bold;
}
.logout-btn {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #4f46e5;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
    background-color: #4f46e5;
    transform: scale(1.05);
    color: #ffffff;
    border: 1px solid #4f46e5;
}