.login{
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-container{
    background-color: #262724;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height:400px;
}
.login-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    
}

.label {
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    margin-bottom: 6px;
}

.input {
    width: 100%;
    height: 35px;
    background-color: grey;
    border: none;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 22px;
}
.input::placeholder {
    outline: none;
    color: beige;
    font-size: 18px;
}
.input:focus {
    outline: none;
}

.login-button{
    width: 100%;
    height: 40px;
    background-color: #4f46e5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}
.error-message{
    color: red;
    margin-top: 10px;
}